<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>square_list</key>
	<array>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150532_5078.png</string>
			<key>id</key>
			<string>28</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>审贴</string>
			<key>url</key>
			<string>mod://BDJ_To_Check</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/07/06/193140_3393.png</string>
			<key>id</key>
			<string>82</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>360zhushou|91zhushou|anzhuo|baidu|xiaomi|tencentyingyongbao|wandoujia|tencent|nduo|appchina|yidongmm|ucappstore|guanwang|youmeng|leshangdian|mumayi|jifeng|samsung|taobao|zhuishushenqi|sougousjzs|tianyikongjian|jinli|androidmarket|qzone|mumayitoufang|opposhangdian|kupaishangdian</string>
			<key>name</key>
			<string>彩铃</string>
			<key>url</key>
			<string>http://m.diyring.cc/friend/48bbbb4128a41b27</string>
		</dict>
		<dict>
			<key>android</key>
			<string>|6.2.3</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150601_1961.png</string>
			<key>id</key>
			<string>31</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>|3.8.01</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>每日排行</string>
			<key>url</key>
			<string>mod://BDJ_To_RecentHot</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.2.4|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/11/094131_3938.png</string>
			<key>id</key>
			<string>46</string>
			<key>ipad</key>
			<string>3.8|1.0</string>
			<key>iphone</key>
			<string>3.9|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>排行榜</string>
			<key>url</key>
			<string>mod://BDJ_To_RankingList</string>
		</dict>
		<dict>
			<key>android</key>
			<string>3.8.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150609_9589.png</string>
			<key>id</key>
			<string>48</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我的收藏</string>
			<key>url</key>
			<string>mod://BDJ_To_Mine@dest=2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>5.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/23/182756_5328.png</string>
			<key>id</key>
			<string>55</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.3|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>随机穿越</string>
			<key>url</key>
			<string>mod://BDJ_To_Cate@cate=3#type=0</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150649_5314.png</string>
			<key>id</key>
			<string>33</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>意见反馈</string>
			<key>url</key>
			<string>mod://App_To_FeedBack</string>
		</dict>
		<dict>
			<key>android</key>
			<string>|5.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150548_7833.png</string>
			<key>id</key>
			<string>34</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>|3.5</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我的帖子</string>
			<key>url</key>
			<string>mod://BDJ_To_Mine@dest=1</string>
		</dict>
		<dict>
			<key>android</key>
			<string>|6.0</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150641_4341.png</string>
			<key>id</key>
			<string>35</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>|4.2</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>搜索</string>
			<key>url</key>
			<string>mod://App_To_SearchUser</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/01/14/112726_8635.png</string>
			<key>id</key>
			<string>116</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>6.0|</string>
			<key>market</key>
			<string>360zhushou|91zhushou|anzhuo|baidu|xiaomi|tencentyingyongbao|wandoujia|tencent|nduo|appchina|yidongmm|ucappstore|guanwang|youmeng|leshangdian|mumayi|jifeng|samsung|taobao|zhuishushenqi|sougousjzs|tianyikongjian|jinli|androidmarket|qzone|mumayitoufang|opposhangdian|kupaishangdian</string>
			<key>name</key>
			<string>美女直播</string>
			<key>url</key>
			<string>http://zhibo.jiejiegame.com/</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.2.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/11/144937_4271.png</string>
			<key>id</key>
			<string>108</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string>360zhushou</string>
			<key>name</key>
			<string>360手机助手</string>
			<key>url</key>
			<string>http://openbox.mobilem.360.cn/channel/getUrl?src=620333&amp;app=zs</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.2.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/14/095303_9815.png</string>
			<key>id</key>
			<string>109</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string>baidu</string>
			<key>name</key>
			<string>百度助手</string>
			<key>url</key>
			<string>http://shouji.baidu.com/soft/item?docid=8199654&amp;from=&amp;f=search_app_%E7%99%BE%E5%BA%A6%E6%89%8B%E6%9C%BA%E5%8A%A9%E6%89%8B%40listsp_1_title%401%40header_software_input</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/11/09/140731_7057.png</string>
			<key>id</key>
			<string>71</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>6.0|</string>
			<key>market</key>
			<string>360zhushou|91zhushou|anzhuo|baidu|xiaomi|tencentyingyongbao|wandoujia|tencent|nduo|appchina|yidongmm|ucappstore|guanwang|youmeng|leshangdian|mumayi|jifeng|samsung|taobao|zhuishushenqi|sougousjzs|tianyikongjian|jinli|androidmarket|qzone|mumayitoufang|opposhangdian|kupaishangdian</string>
			<key>name</key>
			<string>同城约爱</string>
			<key>url</key>
			<string>http://5963.yoyuan.com.cn/?from=5963</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/02/15/150052_5490.png</string>
			<key>id</key>
			<string>87</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>|4.1</string>
			<key>market</key>
			<string>360zhushou|91zhushou|anzhuo|baidu|xiaomi|tencentyingyongbao|wandoujia|tencent|nduo|appchina|yidongmm|ucappstore|guanwang|youmeng|leshangdian|mumayi|jifeng|samsung|taobao|zhuishushenqi|sougousjzs|tianyikongjian|jinli|androidmarket|qzone|mumayitoufang|opposhangdian|kupaishangdian</string>
			<key>name</key>
			<string>游戏大厅</string>
			<key>url</key>
			<string>http://www.curlend.com/Client/web/Default.aspx?1=1</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/02/22/144250_9910.png</string>
			<key>id</key>
			<string>113</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>3.0|4.1.1</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>美女写真</string>
			<key>url</key>
			<string>http://tu.budejie.com/</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/11/13/115802_3657.png</string>
			<key>id</key>
			<string>102</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>360zhushou|91zhushou|anzhuo|baidu|xiaomi|tencentyingyongbao|wandoujia|tencent|nduo|appchina|yidongmm|ucappstore|guanwang|youmeng|leshangdian|mumayi|jifeng|samsung|taobao|zhuishushenqi|sougousjzs|tianyikongjian|jinli|androidmarket|qzone|mumayitoufang|opposhangdian|kupaishangdian</string>
			<key>name</key>
			<string>大侠归来</string>
			<key>url</key>
			<string>http://gc.hgame.com/home/game/appid/100052/gameid/100183/sr/2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>2.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/23/092659_3690.png</string>
			<key>id</key>
			<string>85</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string>360zhushou|91zhushou|anzhuo|baidu|xiaomi|tencentyingyongbao|wandoujia|tencent|nduo|appchina|yidongmm|ucappstore|guanwang|youmeng|leshangdian|mumayi|jifeng|samsung|taobao|zhuishushenqi|sougousjzs|tianyikongjian|jinli|androidmarket|qzone|mumayitoufang|opposhangdian|kupaishangdian</string>
			<key>name</key>
			<string>传奇世界</string>
			<key>url</key>
			<string>http://h5.mobo168.com/open/index.html?spid=5&amp;device=budejie#100004</string>
		</dict>
		<dict>
			<key>android</key>
			<string>5.9.9|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/07/30/172608_7159.png</string>
			<key>id</key>
			<string>83</string>
			<key>ipad</key>
			<string>100.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>下载视频</string>
			<key>url</key>
			<string>mod://App_To_MyVideo</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/03/17/152916_5757.png</string>
			<key>id</key>
			<string>123</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>6.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>百思夺宝</string>
			<key>url</key>
			<string>http://m.zp123.me/mobile/mobile?code=76f7UQcICQEBU1MHBw5dAFUJBAQGUFcABg1cVVhQDVMDAA&amp;hmsr=baisi&amp;hmpl=&amp;hmcu=&amp;hmkw=&amp;hmci=</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/03/07/170703_9383.png</string>
			<key>id</key>
			<string>126</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>6.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>办卡有礼</string>
			<key>url</key>
			<string>https://ccclub.cmbchina.com/mca/MPrecontract.aspx?cardsel=1110&amp;swbrief=y&amp;WT.mc_id=N3700MM2061I323700YL</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/03/23/192041_1270.png</string>
			<key>id</key>
			<string>129</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>呆呆忍者村</string>
			<key>url</key>
			<string>http://h5.mobo168.com/open/index.html?spid=5&amp;device=budejie&amp;gameid=1211#100027</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/03/23/192349_1139.png</string>
			<key>id</key>
			<string>130</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>西游神传</string>
			<key>url</key>
			<string>http://h5.mobo168.com/open/index.html?spid=5&amp;device=budejie&amp;gameid=1187#100015</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/03/23/192649_2100.png</string>
			<key>id</key>
			<string>131</string>
			<key>ipad</key>
			<string>6.0|</string>
			<key>iphone</key>
			<string>3.0|4.1</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>小小战争</string>
			<key>url</key>
			<string>http://h5.mobo168.com/open/index.html?spid=5&amp;device=budejie#100020</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/04/02/120023_7252.png</string>
			<key>id</key>
			<string>133</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>6.0|</string>
			<key>market</key>
			<string>360zhushou|91zhushou|anzhuo|baidu|xiaomi|tencentyingyongbao|wandoujia|tencent|nduo|appchina|yidongmm|ucappstore|guanwang|youmeng|leshangdian|mumayi|jifeng|samsung|taobao|zhuishushenqi|sougousjzs|tianyikongjian|jinli|androidmarket|qzone|mumayitoufang|opposhangdian|kupaishangdian</string>
			<key>name</key>
			<string>皇室战争</string>
			<key>url</key>
			<string>https://update.dl.tuyoo.com/pcpkgs/hszz/crbaisi.html</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2014/05/06/141211_3901.png</string>
			<key>id</key>
			<string>0</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>更多</string>
			<key>url</key>
			<string></string>
		</dict>
	</array>
	<key>tag_list</key>
	<array>
		<dict>
			<key>theme_id</key>
			<string>3096</string>
			<key>theme_name</key>
			<string>百思红人</string>
		</dict>
		<dict>
			<key>theme_id</key>
			<string>9</string>
			<key>theme_name</key>
			<string>自拍</string>
		</dict>
	</array>
</dict>
</plist>
